<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Admin Products</h1>
    {{#if hasProducts}}
    <h1>Products List</h1>
    <div class="flexbox">
        {{#each products as |product|}}
        <article class="product">
            <div>
                <h1>{{product.name}}</h1>
                <img class="product-image" src="{{product.imageUrl}}" alt="">
                <div>
                    <span>Price: ${{product.price}} </span>
                </div>
                <div>
                    <span>Description: {{product.description}} </span>
                </div>
            </div>
        </article>
        {{/each}}
    </div>
    {{else}}
    <h1>No Products</h1>
    {{/if}}
</body>

</html>