<form method="POST" action="/admin/edit-product" class="myform">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input value="{{product.name}}" type="text" class="form-control" name="name" id="name"
            aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input value="{{product.price}}" type="number" class="form-control" name="price" id="price" step="0.01">
    </div>
    <div class="mb-3">
        <label for="description">Description</label>
        <input value="{{product.description}}" name="description" type="text" class="form-control" id="description">
    </div>
    <div class="mb-3">
        <label for="imageUrl">Image Url</label>
        <input value="{{product.imageUrl}}" type="text" class="form-control" id="imageUrl" name="imageUrl">
    </div>
    
    <input type="hidden" name="id" value="{{product.id}}" id="">
    <button type="submit" class="btn btn-primary">Update</button>
</form>